<li>
    <span class="act">{{ users }}</span>
    <strong>Utilisateurs</strong>
</li>
<li>
    <span class="act">{{ newslettre }}</span>
    <strong>NewsLettre</strong>
</li>
<li>
    <span class="act">{{ annoncesE }}</span>
    <strong>Annonces annulées</strong>
</li>
<li>
    <span class="act">{{ annonces }}</span>
    <strong>Annonces</strong>
</li>
<li>
    <span class="act">{{ comments }}</span>
    <strong>Commentaires</strong>
</li>