<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('admin_general_homepage') }}"><i class="icon-home icon-white"></i>  Administration</a>
                <ul class="nav user_menu pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user.nom }} {{app.user.prenom }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {#<li><a href="{{ path("EditeProfile") }}">Profile</a></li>#}
                                {#<li><a href="{{ path("EditePassword") }}">Mot de passe</a></li>#}
                                <li><a target="_blank" href="{{ path('accueil') }}">Mon site</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                </ul>
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                        <span class="icon-align-justify icon-white"></span>
                </a>
            </div>
        </div>
    </div>
</header>