{% extends ":front:base.html.twig" %}
{% block title %}Contactez-nous{% endblock %}
{% block body %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="javascript:void(0)">Contactez-nous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up top-equal blocks-spacer-last">
            <div class="row">
                <div class="span12">
                    <div class="title-area">
                        <h1 class="inline"><span class="light">Contactez</span> nous</h1>
                    </div>
                </div>
                <section class="span8 single single-page">
                    <section class="contact-form-container">

                        <h3 class="push-down-25"><span class="light">Envoyer</span> un message</h3>

                        <form id="commentform" method="post" action="{{ path('contact') }}" class="form form-inline form-contact" />
                        <p class="push-down-20">
                            <input type="text" aria-required="true" tabindex="1" size="30" value="" id="author" name="nom" required="" />
                            <label for="author">Nom & prénom<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <input type="email" aria-required="true" tabindex="2" size="30" value="" id="email" name="email" required="" />
                            <label for="email">Mail<span class="red-clr bold">*</span></label>
                        </p>
                        <p class="push-down-20">
                            <input type="text" tabindex="3" size="30" value="" id="url" name="tel" />
                            <label for="url">Tel</label>
                        </p>

                        <p class="push-down-20">
                            <textarea class="input-block-level" tabindex="4" rows="7" cols="70" id="comment" name="texte" placeholder="Votre message ici ..." required=""></textarea>
                        </p>
                        <p>
                            <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">Envoyer</button>
                        </p>
                        </form>
                    </section>
                </section> <!-- /main content -->

                <aside class="span4">

                    <!--  ==========  -->
                    <!--  = Opening Times Widget =  -->
                    <!--  ==========  -->
                    <div class="sidebar-item opening-time" id="opening_time-4">
                        <div class="underlined">
                            <h3><span class="light">Infos </span> Société</h3>
                        </div>
                        <div class="time-table">                        		    
                            <p>
                                <strong class="opensans dark-clr">{{ contact.adresse }}</strong>
                            </p>

                            <p>
                                <strong class="opensans dark-clr">Tel:</strong> {{ contact.tel1 }}
                                <br />
                                <strong class="opensans dark-clr">Gsm:</strong> {{ contact.tel2 }}
                                <br />
                                <strong class="opensans dark-clr">Fax:</strong> {{ contact.fax }}
                                <br />
                                <strong class="opensans dark-clr">Email:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="sidebar-item widget_twitter">
                        <div class="underlined">
                            <h3><span class="light">Gmaps</span></h3>
                        </div>
                        <div class="add-googlemap" data-height="205" data-addr="{{ contact.longitude }}, {{ contact.latitude }}" data-title="NetMarketing" data-zoom="16" data-type="roadmap"></div>
                    </div>
                </aside> <!-- /sidebar -->
            </div>
        </div>
    </div> <!-- /container -->


{% endblock %}