{% extends ':admin:base.html.twig' %}

{% block body -%}
    <nav>
        <div id="jCrumbs" class="breadCrumb module">
            <ul>{% block sitmap %}
                    <li>    
                        <a href="{{ path("admin_general_homepage") }}"><i class="icon-home"></i></a>
                    </li>
                    <li>    
                        <a  href="{{ path("service") }}">Service</a>
                    </li>
                    <li>    
                        <a href="#">Détails</a>
                    </li>
                 {% endblock %}
            </ul>
        </div>
    </nav>

    <table id="example" class="table table-striped table-bordered dTableR">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ entity.ordre }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if entity.visible %}Visible{% else %} Non-Visible {% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('service_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
