{% extends ':admin:base.html.twig' %}
{% block title %}Les users{% endblock %}

{% block body %}
    <nav>
        <div id="jCrumbs" class="breadCrumb module">

            <ul>{% block sitmap %}
                <li>    
                    <a href="{{ path("admin_general_homepage") }}"><i class="icon-home"></i></a>
                </li>
                <li>    
                    <a href="#">Les utilisateurs</a>
                </li>
            {% endblock %}
        </ul>
    </div>
</nav>    
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-bordered dTableR" id="dt_a">
            <thead>
                <tr>
                    <th>Nom & prénom</th>
                    <th>user name</th>
                    <th>email</th>
                    <th>role</th>
                    <th>Etat</th>
                    <th>Last login</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %}
                    <tr>
                        <td>{{ user.nom }} {{ user.prenom }} </td>
                        {% if user.getFacebookId!="" %}
                            <td></td>
                            <td style="text-align:center;color:#46629E;vertical-align: middle;">Facebook</td>
                        {% elseif user.getGoogleId!="" %}
                            <td></td>
                            <td style="text-align:center;color:#D73D32;vertical-align: middle;">Google plus</td>
                        {% else %}
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        {% endif %}
                        <td>
                            {%for role in user.roles %}- {{role}}<br> {%endfor%}
                        </td>
                        <td><a href="{{ path("etatUser",{'id':user.id}) }}" onclick="javascript:return(confirm('Etes-vous certain de vouloir modifier etat ?'))" >{% if user.isEnabled %}Activé{% else %} Désactivé {% endif %}</a> </td>
                        <td>{{ user.lastLogin|date('d/m/Y  H:i:s') }}</td>
                        <td>
                            {% if user.getFacebookId=="" and user.getGoogleId=="" %}
                                <a href="{{ path("editUser",{'id':user.id}) }}" class="sepV_a" title="Modifier"><i class="icon-pencil"></i></a>
                                <a href="{{ path("deleteUser",{'id':user.id}) }}" title="Supprimer" onclick="javascript:return(confirm('Etes-vous certain de vouloir supprimer ce message ?'))"><i class="icon-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}