{% extends ":front:base.html.twig" %}
{% block title %}Ajouter une annonce{% endblock %}
{% block body %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="javascript:void(0)">Ajouter une annonce</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="push-up top-equal blocks-spacer-last">
            <div class="row">
                <div class="span12">
                    <div class="title-area">
                        <h1 class="inline"><span class="light">Ajouter </span>une annonce</h1>
                    </div>
                </div>
                <section class="span12 single single-page">
                    <section class="contact-form-container">
                        <form id="commentform" method="post" action="{{ path('ajoutannonce') }}" class="form form-inline form-contact" enctype="multipart/form-data">
                            {{ form_widget(form._token) }}    
                            <p class="span4">
                                {{ form_widget(form.type) }}
                            </p>
                            <p class=" span4">
                                {{ form_widget(form.titre, {'attr': {'placeholder': 'Titre'}}) }}	
                            </p>
                            <p class="span4">
                                {{ form_widget(form.prix, {'attr': {'placeholder': 'Prix'}}) }}	
                            </p>
                            <p class="span4">
                                {{ form_widget(form.adresse, {'attr': {'placeholder': 'Adresse'}}) }}	
                            </p>
                            <p class="span4">
                                {{ form_widget(form.tel1, {'attr': {'placeholder': 'Téléphone 1'}}) }}	
                            </p>
                            <p class="span4">
                                {{ form_widget(form.tel2, {'attr': {'placeholder': 'Téléphone 2'}}) }}	
                            </p>

                            <p class="span4">
                                {{ form_widget(form.region, {'attr': {'class': 'Region','placeholder': 'Region'}}) }}
                            </p>
                            <p class="span4">
                                {{ form_widget(form.ville, {'attr': {'class': 'Ville','placeholder': 'Ville'}}) }}
                            </p>  
                            <p class="push-down-20">
                                {{ form_widget(form.texte, {'attr': {'class': 'input-block-level','placeholder':'Votre déscription ici','style':'height: 150px;
margin-top: 20px;'}}) }}
                            </p>
                            <div class="span6">
                                <h3 class="push-down-20">Catégries :</h3>
                                {% for cat in categories %}
                                    <table class="table table-theme table-striped" style="margin-bottom: 0;margin-top: 30px;">
                                        <thead>
                                            <tr><th colspan="2" style="text-align: center">{{ cat.libelle }}</th></tr>
                                        </thead>
                                        <tbody>
                                            {% for ser in cat.services %}
                                                {% if loop.index is not divisible by(2) %}<tr>{% endif %}
                                                    <td><label> <input style="margin-right: 12px;vertical-align: sub;" type="checkbox" name="services[]" value="{{ ser.id }}" >{{ ser.libelle }} </label></td>
                                                    {% if loop.index is  divisible by(2) %}</tr>{% endif %}
                                                {% endfor %}
                                        </tbody>
                                    </table>

                                {% endfor %}
                            </div>
                            <div class="span4">
                                <h3 class="push-down-20">Photo :</h3>
                                <p class="span4">
                                    {{ form_errors(form.photo1) }}
                                    {{ form_widget(form.photo1) }}
                                </p>  
                                <p class="span4">
                                    {{ form_errors(form.photo2) }}
                                    {{ form_widget(form.photo2) }}
                                </p>  
                                <p class="span4">
                                    {{ form_errors(form.photo3) }}
                                    {{ form_widget(form.photo3) }}
                                </p>  
                                <p class="span4">
                                    {{ form_errors(form.photo4) }}
                                    {{ form_widget(form.photo4) }}
                                </p>  
                            </div>
                            <p style="margin-top: 30px" class="span12">
                                <button class="btn btn-primary bold" type="submit" tabindex="5" id="submit">Ajouter</button>
                            </p>
                        </form>
                    </section>
                </section>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".Region").change(function () {
                $(".Ville").empty();
                $(".Ville").append('<option value="">Loading...</option>');
                $(".Ville").trigger("liszt:updated");
                var id = $(this).val();
                $.ajax({
                    url: '{{ path("annonce_ville") }}',
                    type: 'POST',
                    data: 'id=' + id,
                    dataType: 'json',
                    success: function (data) {
                        $(".Ville").empty();
                        $.each(data, function (index, value) {
                            $(".Ville").append('<option value="' + index + '">' + value + '</option>');
                            $(".Ville").trigger("liszt:updated");
                        });
                    }
                });

            })

        })
    </script>                 
{% endblock %}
